<h1>Mastermind</h1>
<form action="/" method='POST'>
  <label for="first-color">Select 1st colour:</label>
  <select id="first-color" name="first-color">
    <option value="red">Red</option>
    <option value="green">Green</option>
    <option value="yellow">Yellow</option>
    <option value="cyan">Cyan</option>
    <option value="magenta">Magenta</option>
    <option value="black">Black</option>
  </select>
  <label for="second-color">Select 2nd colour:</label>
  <select id="second-color" name="second-color">
    <option value="red">Red</option>
    <option value="green">Green</option>
    <option value="yellow">Yellow</option>
    <option value="cyan">Cyan</option>
    <option value="magenta">Magenta</option>
    <option value="black">Black</option>
  </select>
  <label for="third-color">Select third colour:</label>
  <select id="third-color" name="third-color">
    <option value="red" name="red">Red</option>
    <option value="green">Green</option>
    <option value="yellow">Yellow</option>
    <option value="cyan">Cyan</option>
    <option value="magenta">Magenta</option>
    <option value="black">Black</option>
  </select>
  <label for="fourth-color">Select fourth colour:</label>
  <select id="fourth-color" name="fourth-color">
    <option value="red">Red</option>
    <option value="green">Green</option>
    <option value="yellow">Yellow</option>
    <option value="cyan">Cyan</option>
    <option value="magenta">Magenta</option>
    <option value="black">Black</option>
  </select>
  <% unless session[:game].win || session[:game].game_over %>
    <input type="submit" value="Guess" />
  <% end %>
</form>

<form action='/start' method='POST'>
  <input type="submit" value="Restart"/>
</form>

<h1>
  <% if message %>
    <%= message %>
  <% end %>
</h1>

<h2>Board</h2>
<% feedback.reverse_each do |feedback_obj| %>
  <div class="container">
    <% feedback_obj.guess.each do |color| %>
      <div class="color-peg" style="background-color:<%= color %>"></div>
    <% end %>
    <div class="feedback-container">
      <% feedback_obj.result.each do |color| %>
        <div class="feedback-peg" style="background-color:<%= color %>"></div>
      <% end %>
    </div>
  </div>
<% end %>

