<div class="instructions-container">
  <h1>Instructions</h1>
  <ul>
    <li>Guess the secret four colour code.</li>
    <li>To win, all four colours in their correct position need to be guessed.</li>
    <li>After guessing, your guess along with feedback will be shown.</li>
    <li>For every correct colour guessed within it's correct position, a black peg will be shown.</li>
    <li>For every correct colour guessed but 'not' within it's correct position, a white peg will be shown.</li>
    <li>Example:</li>
    <p class="title">Hidden Code</p>
    <div class="container">
      <div class="color-peg" style="background-color:red"></div>
      <div class="color-peg" style="background-color:cyan"></div>
      <div class="color-peg" style="background-color:magenta"></div>
      <div class="color-peg" style="background-color:black"></div>
    </div>
    <p class="title">Guess with Feedback</p>
    <div class="container">
      <div class="color-peg" style="background-color:red"></div>
      <div class="color-peg" style="background-color:green"></div>
      <div class="color-peg" style="background-color:black"></div>
      <div class="color-peg" style="background-color:magenta"></div>
      <div class="feedback-container">        
        <div class="feedback-peg" style="background-color:black"></div>
        <div class="feedback-peg" style="background-color:white"></div>
        <div class="feedback-peg" style="background-color:white"></div>
      </div>
    </div>
    <p>1 black peg for guessing red in it's correct position. Nothing for green which isn't in the code at all.
      2 white pegs for guessing that magenta and black are in the code (but not in their correct positions). 
    </p>
    <li>The code will be unique ie. no duplicate colours.</li>
    <li>You will have 12 attempts.</li>
  </ul>
</div>

<a href='/'>Home</a>